[submodule "ProjectName/vendor/glfw"]
	path = ProjectName/vendor/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "ProjectName/vendor/glm"]
	path = ProjectName/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "ProjectName/vendor/glad"]
	path = ProjectName/vendor/glad
	url = https://github.com/al7aro/glad.git
[submodule "ProjectName/vendor/stb"]
	path = ProjectName/vendor/stb
	url = https://github.com/al7aro/stb.git
	branch = stb_image
[submodule "ProjectName/vendor/imgui"]
	path = ProjectName/vendor/imgui
	url = https://github.com/al7aro/imgui.git
	branch = docking
